* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f4f4f4;
  --secondary-color: #e1d200;
  --primary-bg-color: #373737;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  user-select: none;
  position: relative;
  background-color: #1a1a1a;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 9vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  z-index: 99;
}

.navbar-container .search-container {
  height: 30%;
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background: #aaa;
  border-radius: 20px;
  padding: 0 1vw;
}

.navbar-container .search-container .search-icon {
  height: 60%;
}

.navbar-container .search-container .search-input {
  width: 85%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #373737;
}

.navbar-container .search-container .search-input:focus {
  outline: none;
}

.navbar-container .menu-options {
  width: 45%;
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  color: #f4f4f4;
  font-size: 1.2rem;
}

.navbar-container .menu-options .menu-option {
  cursor: pointer;
  width: 100%;
}

.navbar-container .menu-options .menu-option a {
  text-decoration: none;
  color: #f4f4f4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  top: 0;
  left: 0;
}

.section {
  direction: rtl;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.landing {
  background: url("../img/botanical_garden_shiraz.jpg") no-repeat center
    center/cover;
}

.section .card {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-bg-color);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 6px 6px 14px #000, -6px -6px 14px #5d5d5d;
  transition: box-shadow 0.2s ease-in-out;
}

.section .card:hover {
  box-shadow: 5px 5px 10px #000, -5px -5px 10px #5d5d5d;
}

.section .card:active {
  box-shadow: inset 5px 5px 10px #000, inset -5px -5px 10px #5d5d5d;
}

.section .card .btns {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 4%;
  width: 4.5%;
  display: flex;
  justify-content: space-around;
}

.section .card .btns .btn {
  width: 13px;
  height: 13px;
  background-color: #ffcc00;
  border-radius: 50%;
  box-shadow: inset 2px 2px 6px #997a00, inset -2px -2px 6px #ffdd00;
}

.section .card .btns .btn:first-child {
  background-color: #920000;
  box-shadow: inset 3px 3px 6px #5e0000, inset -3px -3px 6px #b80000;
}

.section .card .btns .btn:last-child {
  background-color: #00ec2f;
  box-shadow: inset 3px 3px 6px #00b23a, inset -3px -3px 6px #00ff54;
}

.section.landing .text-container {
  width: 100%;
}

.section .text-container {
  width: 30%;
  color: #f4f4f4;
}

.section .text-container .title {
  font-size: 2.25vw;
  margin-bottom: 5%;
  color: #e1d200;
}

.section .text-container .desc {
  font-size: 1.5vw;
  align-self: flex-start;
}

.section .pic {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  box-shadow: 6px 6px 14px #000, -6px -6px 14px #5d5d5d;
  transition: box-shadow 0.2s ease-in-out;
}

.section .card:hover .pic,
.section .card:active .pic {
  box-shadow: 5px 5px 10px #000, -5px -5px 10px #5d5d5d;
}

.section .text-container.landing {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .text-container.landing .bg-dark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .text-container.landing .bg-dark .title:nth-child(2) {
  margin-bottom: 0;
  font-size: 3vw;
}

.section .text-container.landing .bg-dark .title:first-child {
  font-size: 5vw;
  color: #f4f4f4;
  margin-bottom: 1%;
}

/*  */
.card.weather {
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-color);
}

.card.weather .title {
  font-size: 2.25vw;
  margin-bottom: 2%;
}

table {
  width: 95%;
  height: 70%;
  border-collapse: collapse;
  color: var(--secondary-color);
  display: grid;
  grid-template-areas:
    "head"
    "body";
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}

thead {
  width: 100%;
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: center;
}

tbody {
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

tr {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 1fr;
}

th,
td {
  display: flex;
  direction: ltr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section .sample-video {
  box-shadow: 6px 6px 14px #000, -6px -6px 14px #5d5d5d;
}

.footer {
  height: 5vh;
  color: var(--primary-color);
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.navbar-container canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
